.section-user-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background:  #FFFFFF;
    box-shadow: 0px 4px 4px rgba(208, 208, 208, 0.25);
    border-radius: 15px;
    width:70vw;
    height: 20vw;
    margin-top:0;
    padding-left:1vw ;
    padding-right: 2vw;
    margin-bottom: 0;
}

.first-row-info
{
    margin-top:4vw;
}


.price-part{
    padding-top:0.5vw;
}

.box-amount
{

    box-sizing: border-box;

    position: absolute;

    width: 37.865vw;
    height: 2.969vw;

    background: #FFFFFF;
    border: 1px solid #919191;
    box-shadow: 0px 4px 4px rgba(208, 208, 208, 0.25);
    text-align: center;
    border-radius: 15px;
    margin-top: -1vw;
    justify-content: center;

}

.button-credit
{
    width: 37.865vw;
    height: 2.969vw;
    margin-top:6vmin;
    background: #593C1C;
    box-shadow: 0px 4px 4px rgba(208, 208, 208, 0.25);
    border-radius: 15px;
    text-align: center;

}

.user-info-txt
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5vw;
    line-height: 2.771vw;

    color: #593C1C;

}

.credit-info-txt
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 6.667vw;
    line-height: 10.073vw;


    color: #593C1C;
}

.logout-button{
    width: 8.333vw;
    height: 3.542vw;
    border-radius: 0.781vw;
    background: #593C1C;
    mix-blend-mode: normal;


    font-weight: 500;
    font-size: 1.458vw;
    line-height: 1.771vw;

    text-align: center;
    justify-content: center;
    color: #F7F0E9;
    margin-right: 0;
    margin-top: 0.5vw;
}

.section-cart-info
{
    margin-bottom: 5vw;
}

td
{
    padding-left: 4vw;
}

/*.credit-info img*/
/*{*/
/*    margin-top: 4vmin;*/
/*    margin-right: 1vmin;*/
/*    width: 4vmin;*/
/*    height: 8vmin;*/
/*}*/

.empty-cart
{
    color: #A97B47;
    margin-left: 30vw;
}