.body {
    background: #F5F5F5;
}


.section-user-info
{
    margin-left: 20vmin;
    padding-top: 20vmin;
    margin-right: 20vmin;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(208, 208, 208, 0.25);
}


.user-info-txt
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5vw;
    line-height: 34px;

    color: #593C1C;

}

.item-info 
{
    display: flex;
}

.item-info img 
{
    margin-top: 1vmin;
    margin-right: 1vmin;
    width: 2vmin;
    height: 3vmin;
}

.credit-info-txt 
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 100px;
    line-height: 155px;


    color: #593C1C;
}

.credit-info 
{
    display: flex;
}

.credit-info img 
{
    margin-top: 2vmin;
    margin-right: 1vmin;
    width: 4vmin;
    height: 8vmin;
}

.first-row-info
{
    margin-top:10vmin;
}

.box-amount 
{

    box-sizing: border-box;

    position: absolute;

    width: 45vmin;

    background: #FFFFFF;
    border: 1px solid #919191;
    box-shadow: 0px 4px 4px rgba(208, 208, 208, 0.25);
    text-align: center;
    border-radius: 15px;
}

.button-credit 
{
    width: 45vmin;
    height: 5vmin;
    margin-top:6vmin;
    background: #593C1C;
    box-shadow: 0px 4px 4px rgba(208, 208, 208, 0.25);
    border-radius: 15px;
    text-align: center;
    
}

.button-credit p 
{
    margin-top:1vmin;
    color: #FFFFFF;
}

.section-cart-info
{

    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 10vw;

}

.cart-item-info
{
    display: flex;
}

.cart-item-info img 
{
    margin-right: 2vmin;
    width: 5vmin;
    height: 6vmin;
}

.cart-title-txt 
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    text-align: center;

    color: #593C1C;

}

.cart-button 
{
    margin-left: 5vmin;
    width: 15vmin;
    padding-top: 1vmin;
    background: #593C1C;
    mix-blend-mode: normal;
    border-radius: 15px;
}

.cart-button p  
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;

    text-align: center;

    color: #F7F0E9;
    padding-left: 2vmin;
}   

.cart-col-name
{
    padding-left: 2vw;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(208, 208, 208, 0.25);
    margin-right: 2vw;
    margin-left: 2vw;
    padding-top: 3vmin;
}

.cart-col-name p 
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.2vw;
    line-height: 34px;
    /* identical to box height */

    text-align: center;

    margin-right: 5vw;
}

.cart-buy-item 
{
    padding-left: 2vw;
    margin-top:3vw;
    margin-right: 1vmin;
    margin-left: 1vmin;
    /* padding-left: 3.1vmin;
    padding-top: 1.2vmin; */
    /* padding-left: 1vmin; */
    /* padding-top: 1.2vmin; */
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(208, 208, 208, 0.25);
    border-radius: 15px;
}

.cart-buy-item img 
{
    width: 4vw;


}

.cart-buy-item p
{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 0.8vw;
    line-height: 34px;

    /* identical to box height */
    
    
    color: #919191;
    
}

.box-cart-item
{
    text-align: center;
    width: 7vw;
    height: 5vw;
    margin-right: 2vw;
    /* padding-right: 4vw; */
    /* margin-left: 3.5vw; */
}

.col-yellow 
{
    color: #FFC700;
}

.col-red 
{
    color: #C82525;
}

.inc-dec 
{
    height: 2vw;
    width: 10vw;
    background: #FFFFFF;
    border: 1px solid #593C1C;
    text-align: center;
    border-radius: 15px;
    padding-bottom: 3vw;
}


.inc-dec-item
{
    padding-left: 2.5vw;
    font-size: 1.1vw;

    color: #000000;

}

.payment-button 
{
    width: 40vw;
    background: #593C1C;
    box-shadow: 0px 4px 4px rgba(208, 208, 208, 0.25);
    border-radius: 15px;
    margin-left: 15vw;
}

li 
{
    list-style-type: none;
}

.astext {
    margin:0;
    padding:0;

    margin-top: 0.2vw;

    margin-left: 2.5vw;
    margin-right: 2.5vw;

    background:none;
    border:none;
    cursor: pointer;
}

h6 
{
    margin:0;
    padding:0;

    margin-top: 0.3vw;

    background:none;
    border:none;
    cursor: pointer;
}

button 
{
    margin-top: 2vw;
}