
main {

    display: flex;
    flex-direction: column;

    row-gap: 1.5vw;
    justify-content: center;


}
.info-part{
    display: flex;
    flex-direction: row;
}
.commodity-content-container {
    width: 100%;
    /*position: absolute;*/
    direction: ltr;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;

}

.commodity-image {
    width: 44.491vw;
    height: 41.667vw;
    border-radius: 0.781vw;
    margin-right: 1vw;
    padding: 0;
}


.commodity-info-part h1 {

    font-size: 3.021vw;
    line-height: 3.646vw;
    text-align: left;
    color: #593C1C;
    padding-top: 0;

}

.commodity-info-part h2 {
    font-size: 1.250vw;
    line-height: 1.250vw;
    text-align: left;
    color: #C82525;

}

.commodity-info-part h3 {


    font-size: 1.250vw;
    line-height: 1.510vw;
    text-align: left;
    color: #000000;

}

.commodity-info-part h4 {


    font-weight: 500;
    font-size: 1.250vw;
    line-height: 1.510vw;
    text-align: left;

    color: #593C1C;

}

.commodity-info-part ul {

    margin:0.5vw;

    /*padding: 0;*/
}
.commodity-info-part ul li{
    margin-top: 0;
    padding-top: 0;
    margin-left: -2vw;
}



.rate-star-row p {

    font-size: 1.667vw;
    line-height: 2.031vw;
    text-align: center;
    color: #593C1C;
    display: inline;
    padding-left: .5vw;


}

.rate-star-row p span {
    font-weight: 500;
    font-size: 1.250vw;
    line-height: 1.510vw;
    color: #919191;
}

.rate-star-row {
    display: flex;
    align-items: center;
    float: left;
    padding: 0;

    margin-top: 4vw;
    margin-left:10vw;
    /* padding-right: 17.865vw; */

}
.fixed-star-icon{
    width:2.500vw;
    height: 2.500vw;
    color: #dabf10;
}


.item-buy-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.card-body{
    height: 5vw;
    width: 38.281vw;
    background: #FFFFFF;
    box-shadow: 0px 0.208vw 0.208vw rgba(208, 208, 208, 0.25);
    margin-top: 2.604vw;
    margin-left: -1.042vw;
    margin-bottom: 2.708vw;
    padding-left: 2vw;
    padding-top: 2vw;
}

.rateTitle{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.250vw;
    line-height: 1.510vw;
    text-align: left;
    color: #000000;
}


.item-buy-card .price {
    font-size: 1.875vw;
    line-height: 2.292vw;
    color: #593C1C;
}


.button-type1 {
    width: 6.250vw;
    height: 3.542vw;
    border-radius: 0.781vw;
    background: #593C1C;
    mix-blend-mode: normal;


    font-weight: 500;
    font-size: 1.458vw;
    line-height: 1.771vw;

    text-align: center;
    justify-content: center;
    color: #F7F0E9;
    margin-right: 0;
    /*padding: 0;*/
    /*margin: auto;*/



}

.suggestions-section {

    padding: 0;
    margin: 0;
    margin-top: 3.542vw;
    padding-left: 5.573vw;
    padding-right: 9.635vw;
    margin-bottom: 4.271vw;

}

.suggestionTitle{

    font-weight: 600;
    font-size: 1.667vw;
    line-height: 1.667vw;
    margin-bottom: 3.542vw;
    text-align: left;
    color: #593C1C;
    margin-left: 1vw;

}